.basic{
    text-align: center;
    border: solid pink;
}
.three{
    min-height: 950px;
    border: solid black;
}
.display{
    margin-top: 10px;
    /* opacity: 0.3; */
    background-color: lightgrey;
}
.item{
    margin-top: 10px;
}